.gallery {
    animation: 1s ease-out 0s 1 fade-from-bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly between columns */
}

.gallery-item {
    width: calc(33.33% - 10px); /* Set width for each column with margin between */
    margin-bottom: 20px;
    height: 13em;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-item img {
    height: 100%; /* Ensure images fill the available width */
    /* height: auto; Maintain aspect ratio */
}


/* Gallery View CSS */

/* Applied to body; view is restricted to the current screen view */ 
.view-mode {
    height: 100%;
    overflow: hidden;
}

/* Transparent background */
#view-bg {
    /* display: flex;
    align-items: center; */
    /* object-fit: contain; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: #000000d0;
    transition: visibility 0s, opacity 0.15s ease-out;
}

#view-bg:hover {
    cursor: pointer;
}

.view-bg-none {
    opacity: 0;
    visibility: hidden;
}

.view-bg-clicked {
    opacity: 1;
    visibility: visible;
}


/* Applied to imgs */
.clicked-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    height: 100vh;
}

/* General Animations */

@keyframes fade-from-bottom {
    0% {
        transform: translateY(2%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}