.gallery {
    animation: 1s ease-out 0s 1 fade-from-bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.gallery-item {
    position: relative;
    width: calc(33.33% - 40px); 
    margin: 0 15px 30px 15px;
    height: 20em;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px; 
}

.gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000c4;
    opacity: 0.2;
    transition: opacity 0.15s ease-out;
}

.gallery-item:hover .gallery-overlay{
    opacity: 1;
    cursor: pointer;
}

.gallery-description {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    align-content: end;
    padding: 20px;
    z-index: 1;
    user-select: none;
    pointer-events: none;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* Gallery View CSS */

/* Applied to body; view is restricted to the current screen view */ 
.view-mode {
    height: 100%;
    overflow: hidden;
}

/* Transparent background */
#view-bg {
    /* display: flex;
    align-items: center; */
    /* object-fit: contain; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: #000000d0;
    transition: visibility 0s, opacity 0.15s ease-out;
}

.view-bg-none {
    opacity: 0;
    visibility: hidden;
}

.view-bg-clicked {
    opacity: 1;
    visibility: visible;
}


/* Applied to imgs */
.clicked-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    height: 100vh;
}

/* Card CSS */
.card {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 70vw; 
    height: 80vh; 
    border-radius: 10px;
    background-color: #f0f0f0; 
    padding: 0;
    animation: 1s ease-out 0s 1 fade-in;
}

.close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close-button:hover {
    opacity: 1;
    cursor: pointer;
}

.close-button:before, .close-button:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close-button:before {
    transform: rotate(45deg);
}

.close-button:after {
    transform: rotate(-45deg);
}

.divider {
    position: absolute;
    top: 60px;
    left: 50%; 
    transform: translateX(-50%);
    width: 95%;
    height: 2px;
    opacity: 0.3;
    background-color: #333;
}

.card > .switch-button {
    position: absolute;
    top: 50%;
}

.flip-button {
    position: absolute;
    bottom: 10px;
    right: 15px;
    opacity: 0.5;
}

.flip-button:hover {
    opacity: 1;
    cursor: pointer;
}

/* Arrows */
.arrow {
    border: solid #333;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 6px;
    opacity: 0.3;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow:hover {
    opacity: 1;
    cursor: pointer;
}

.profile-information {
    position: absolute;
    top: 70px;
    white-space: pre-line;
}

.back-information {
    margin-left: 40px;
    margin-right: 40px;
    top: 80px;
    max-height: 80%;
    column-count: 3;
    column-gap: 2em;
    column-width: 12em;
    font-size: 0.65em;
}

.profile-image {
    position: relative;
    width: 40%; 
    margin-right: 40px;
    height: 20em;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px; 
}

.profile-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* General Animations */

@keyframes fade-from-bottom {
    0% {
        transform: translateY(2%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}