.gallery {
    animation: 1s ease-out 0s 1 fade-from-bottom;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.gallery-item {
    position: relative;
    width: calc(33.33% - 40px); 
    margin-bottom: 20px;
    height: 20em;
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px; 
    margin: 0 auto; 
}

.gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000c4;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

.gallery-overlay:hover {
    opacity: 1;
    cursor: pointer;
}

.gallery-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10%;
    color:#fff;
    opacity: 0;
    transition: opacity 0.15s ease-out;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}


/* Gallery View CSS */

/* Applied to body; view is restricted to the current screen view */ 
.view-mode {
    height: 100%;
    overflow: hidden;
}

/* Transparent background */
#view-bg {
    /* display: flex;
    align-items: center; */
    /* object-fit: contain; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: #000000d0;
    transition: visibility 0s, opacity 0.15s ease-out;
}

#view-bg:hover {
    cursor: pointer;
}

.view-bg-none {
    opacity: 0;
    visibility: hidden;
}

.view-bg-clicked {
    opacity: 1;
    visibility: visible;
}


/* Applied to imgs */
.clicked-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0 0;
    height: 100vh;
}

/* General Animations */

@keyframes fade-from-bottom {
    0% {
        transform: translateY(2%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}